#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	tools/dev/v8gen.py -vv x64.release -- is_component_build=true

override_dh_auto_test:

override_dh_auto_build:
	ninja -C out.gn/x64.release/

override_dh_auto_clean:
